/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --nav-header-size: 30px;
    --nav-header-padding: 19px;
    --nav-li-size: 18px;
    --nav-list-margin-left: 30px;
    --nav-margin-right: calc(var(--nav-list-margin-left) + 20px);

    --nav-font-weight: 600;
    --nav-li-seperator: 15px;

    --nav-section-seperator: 40px;
    --nav-section-bg-color: rgb(40, 142, 201);
    --nav-color: #ffffff;

    --main-page-font-color: #000000;

    --header-standard-gap: 35px;
    --header-section-bg-color: #ffffff;
    --header-left-right-margin: 40px;
    --header-section-top-bottom-margin: 20px;

    --header-top-height-percent: 35%;
    --header-bottom-height-percent: calc(100% - var(--header-top-height-percent));

    --search-section-width: 40%;
    --search-bar-height: 3rem;
    --border-radii: 20px;
    --search-bar-max-width: 400px;
    --search-bar-min-width: 200px;
    --search-bar-bg-color: #dae2e6;
    --search-bar-font-size: 1.65rem;


    --upper-right-buttons-width: calc(100% - var(--search-section-width));

    --page-actions-buttons-font-size: 1rem;
    --page-actions-buttons-font-weight: 700;


    --profile-name-font-size: 2rem;
    --profile-name-font-weight: 600;



    --content-section-bg-color: var(--search-bar-bg-color);
    --content-section-side-margin: 20px;

    --content-headers-color: var(--main-page-font-color);
    --content-headers-font-size: 1.5rem;
    --content-headers-font-weight: 600;
    --content-headers-margin-top: 30px;
    --content-headers-margin-bottom: 15px;

    --project-card-title-color: var(--main-page-font-color);
    --project-card-title-font-size: 1.35rem;
    --project-card-title-font-weight: 600;

    --project-card-text-color: rgb(95, 95, 95);
    --project-card-text-font-size: 1rem;

    --projects-grid-gap: 25px;
    /* --project-card-text-font-weight: 600; */

    --project-card-side-border-color: rgb(231, 196, 100);
    --project-card-side-border-width: 10px;

    --card-edge-radius: 20px;
    --card-padding: 20px;
    --card-bg-color: var(--header-section-bg-color);
    --card-title-margin-bottom: 0px;
    --card-shadow-color:rgb(136, 136, 136);

    --card-actions-gap: 10px;

    --announcement-title-color: var(--main-page-font-color);
    --announcement-title-font-size: 0.9rem;
    --announcement-title-font-weight: var(--project-card-title-font-weight);
    --announcement-content-color: var(--project-card-text-color);
    --announcement-content-font-size: 0.8rem;

    --trending-font-size: 1rem;
    --trending-name-color: var(--main-page-font-color);
    --trending-name-font-weight: 500;

    --trending-description-color: var(--project-card-text-color);



}


body {
    display: grid;
    height: 100vh;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.navigation {
    background-color: var(--nav-section-bg-color);
    grid-row: 1 / 3;
    font-weight: var(--nav-font-weight);
    overflow-y: auto;
    min-width: 260px;
}

.nav-header {
    display: grid;
    grid-template-columns: 50px auto;
    margin-bottom: var(--nav-section-seperator);
    justify-items: start;
    align-items: center;

    padding: var(--nav-header-padding);
    margin-right: var(--nav-margin-right);

    color: var(--nav-color);
    font-size: var(--nav-header-size);
}

.navigation ul {
    margin-bottom: var(--nav-section-seperator);
    margin-left: var(--nav-list-margin-left);
    margin-right: var(--nav-list-margin-left);
    list-style-type: none;
}

.navigation li {
    display: grid;
    grid-template-columns: 40px auto;
    justify-items: start;
    align-items: center;
    margin-bottom: var(--nav-li-seperator);
}

.navigation img {
    color: var(--nav-color);
}

.navigation a {
    color: var(--nav-color);
    font-size: var(--nav-li-size);
    text-decoration: none;
}





.header {
    background-color: var(--header-section-bg-color);
    grid-column: 2 / 3;
    padding-left: var(--header-left-right-margin);
    padding-right: var(--header-left-right-margin);
}

.headerTop {
    display: flex;
    height: var(--header-top-height-percent);
    justify-content: space-between;
    align-items: center;
}



.search-container {
    display: flex;
    justify-content: start;
    align-items: center;

    margin-right: var(--header-left-right-margin);
    width: 60%;
    min-width: calc(var(--search-bar-min-width) * 1.2);

    overflow: hidden;

}

.search-container label {
    display: flex;
    justify-content: start;

    flex: 0 0 auto;
}

.search-container img {
    display: inline;
    width: var(--search-bar-font-size);
    height: var(--search-bar-font-size);
}


.search-container input {
    flex: 1 1 auto;
    height: var(--search-bar-height);
    max-width: var(--search-bar-max-width);
    min-width: var(--search-bar-min-width);
    margin-left: var(--header-standard-gap);
    border-radius: var(--border-radii);
    padding: 20px;

    border: none;

    background-color: var(--search-bar-bg-color);
    font-size: var(--search-bar-font-size);
}

.upper-right-buttons {
    display: flex;
    width: var(--upper-right-buttons-width);
    margin: var(--header-section-top-bottom-margin);
    align-items: center;
    gap: var(--header-standard-gap);
    margin-right: var(--header-left-right-margin);
    min-height: 90px;
}

.upper-right-buttons button {
    border: none;
    background-color: var(--header-section-bg-color);
    margin-left: auto;
}

.upper-right-buttons a {
    color: var(--main-page-font-color);
    font-size: var(--profile-name-font-size);
    font-weight: var(--profile-name-font-weight);
    text-decoration: none;
    white-space: nowrap;
}



.headerBottom {
    display: flex;
    height: var(--header-bottom-height-percent);
}

.welcome-sign {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;



    align-items: center;

    margin-left: var(--header-left-right-margin);
    font-weight: var(--profile-name-font-weight);
    color: var(--main-page-font-color);
}


.page-actions {
    list-style-type: none;
    display: flex;
    gap: var(--header-standard-gap);
    align-items: center;
    margin-left: auto;
    margin-right: var(--header-left-right-margin);
}

.page-actions button {
    width: 6rem;
    height: 2.5rem;

    font-size: var(--page-actions-buttons-font-size);
    font-weight: var(--page-actions-buttons-font-weight);
    color: var(--nav-color);
    background-color: var(--nav-section-bg-color);

    border: none;
    border-radius: var(--border-radii);
}



.content {
    display: grid;
    grid-template: 1fr 1fr / 4fr 1.5fr;


    background-color: var(--content-section-bg-color);
    padding-right: var(--content-section-side-margin);

}


.projects {
    grid-row: 1 / 3;
    margin-left: var(--content-section-side-margin);
    margin-right: var(--content-section-side-margin);
    padding-bottom: 40px;
    padding-right:10px;
    overflow-y: auto;
}

.content-section-titles {
    color: var(--content-headers-color);
    font-size: var(--content-headers-font-size);
    font-weight: var(--content-headers-font-weight);
    margin-top: var(--content-headers-margin-top);
    margin-bottom: var(--content-headers-margin-bottom);

}

.projects-box {
    display: grid;
    grid-template: 1fr 1fr  1fr / 1fr 1fr;
    gap: var(--projects-grid-gap);
}

.card {
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    
    border-radius: var(--card-edge-radius);
    background-color: var(--card-bg-color);
    box-shadow: 5px 5px var(--card-shadow-color);
}

.projects .card {
    border-left: var(--project-card-side-border-width) solid var(--project-card-side-border-color);
    height: 200px;
    flex: 0 0 auto;
}

.card-title {
    color: var(--project-card-title-color);
    margin-bottom:var(--card-title-margin-bottom);
}

.projects .card-title{
    font-size: var(--project-card-title-font-size);
    font-weight: var(--project-card-title-font-weight);
}

.card-content{
    color:var(--project-card-text-color);
    flex: 1;
    overflow-y: hidden;
}

.project-card .card-content{
    font-size: var(--project-card-text-font-size);
}


.card-actions {
    list-style-type: none;
    display: flex;
    gap: var(--card-actions-gap);
    align-items: center;
    justify-content: flex-end;
    margin-top:5px;

}

.announcements .card-title{
    font-weight: var(--announcement-title-font-weight);
}

.announcement-content{
    color: var(--announcement-content-color);
    font-size: var(--announcement-content-font-size);
}

/* .announcement-content:last-child{
    color: var(--announcement-content-color);
    font-size: var(--announcement-content-font-size);
    padding-bottom: 10px;
    border-bottom: none;
} */

.announcements ul{
    list-style-type: none;
}

.announcements li{
    border-bottom: 2px solid var(--search-bar-bg-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.announcements li:last-child{
    border-bottom: none;
}

.headerBottom .profile-box {
    height:100%;
}

.profile-box{
    display:flex;
    align-items: center;
    min-width: fit-content;
    
}

.profile-box img{
    position:relative;
    height: 50%;
    width: auto;
}

.profile-info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    
}

.profile-box .top{
    text-wrap:nowrap;
    font-size: 100%;
    font-weight: 700;

}

.profile-box .bottom{
    text-wrap:nowrap;
    font-size: 200%;
    font-weight: 700;

}

#profile-tag{
    text-wrap:nowrap;
    font-size: 1rem;
    color: var(--trending-name-color);
}

#profile-name{
    text-wrap:nowrap;
    font-size: 1rem;
    color:var(--trending-description-color);

}

.trending{
    padding-bottom: 40px;
}
.trending img {
    position:relative;
    height:60px;
    width: auto;
}

.trending ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    list-style-type: none;
    overflow-y:auto;
    
}



